$mycolor: green;
$colors: (primary:blue,
    seconcary: yellow, primary-light: lighten(#005DFF, 40%),
    primary-dark: darken(#005DFF, 40%), );
$desktop: 840px;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;

}

div.container {
    position: relative;
    height: 3000px;
    width: 100%;
    top: 0;
    left: 0;
}