@import "Variables";

@font-face {
    font-family: "pills";
    src: url("../fonts/pills.ttf") format("truetype");
}

@mixin desktop {
    @media (max-width: 1120px) {
        @content;
    }
}

@mixin mini-tablet {
    @media (max-width:730px) {
        @content;
    }
}

@mixin phone {
    @media (max-width:520px) {
        @content
    }
}

@mixin S-phone {
    @media (max-width:350px) {
        @content
    }
}

main.main {
    // background-color: red;
    background-color: rgb(240, 228, 214);
    text-align: center;
    position: relative;
    // top: 100px;
    height: 550px;
    opacity: 0.6px;
    z-index: 2;

    .particles {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    h1 {
        position: absolute;
        font-size: 60px;
        left: 50%;
        // background-color: red;
        width: 1000px;
        top: 150px;
        transform: translateX(-50%);
        letter-spacing: 3px;

        @include mini-tablet {

            font-size: 45px;
        }

        @include phone {
            // background-color: red;
            width: 100%;
            font-size: 32px;
        }
    }

    h2 {
        @include mini-tablet {
            font-size: 25px;
            top: 225px;
        }

        @include phone {
            // background-color: red;
            width: 100%;
            font-size: 22px;
        }

        position: absolute;
        font-size: 35px;
        left: 50%;
        width: 1000px;
        // background-color: red;
        top: 250px;
        transform: translateX(-50%);
        letter-spacing: 3px;
        color: rgb(87, 84, 84);
    }

    h3 {
        left: 50%;
        top: 330px;
        position: absolute;
        font-size: 20px;
        color: rgb(63, 63, 63);
        transform: translateX(-50%);
        border: 1px solid rgb(151, 151, 151);
        padding: 15px 35px;
        cursor: pointer;

        @include S-phone {
            padding: 10px 27px;

        }

        i {
            transform: translateX(5px);
            font-size: 17px;
            transition: 0.4s all ease;

            @include S-phone {
                transform: translateX(0);
            }
        }

    }

    h3:hover i {
        transform: translateX(15px);
    }
}